In [1]:
import pandas as pd

In [2]:
sub1 = pd.read_csv(
'../input\
/classification-densenet201-efficientnetb7\
/submission.csv'
)

sub2 = pd.read_csv(
'../input\
/tf-zoo-models-on-tpu\
/submission.csv'
)

sub3 = pd.read_csv(
'../input\
/fork-of-plant-2020-tpu-915e9c\
/submission.csv'
)

sub4 = pd.read_csv('../input/previous-sub/submission.csv')

In [3]:
sub = pd.read_csv(
'../input\
/plant-pathology-2020-fgvc7\
/sample_submission.csv'
)

In [4]:
sub.healthy = sub1.healthy*0.10 \
            + sub2.healthy*0.30 \
            + sub3.healthy*0.60

In [5]:
sub.multiple_diseases = sub1.multiple_diseases * 0.10 \
                      + sub2.multiple_diseases * 0.30 \
                      + sub3.multiple_diseases * 0.60

In [6]:
sub.rust = sub1.rust*0.10 \
         + sub2.rust*0.30 \
         + sub3.rust*0.60

In [7]:
sub.scab = sub1.scab*0.10 \
         + sub2.scab*0.30 \
         + sub3.scab*0.60

In [8]:
sub.head()

  image_id       healthy  multiple_diseases      rust      scab
0   Test_0  1.402747e-06           0.000546  0.999451  0.000002
1   Test_1  7.814344e-06           0.000476  0.999512  0.000004
2   Test_2  4.344140e-07           0.000006  0.000001  0.999992
3   Test_3  9.999563e-01           0.000001  0.000029  0.000014
4   Test_4  6.072313e-05           0.000595  0.999335  0.000008

In [9]:
sub.to_csv('submission.csv', index=False)